h1{
  color: brown;
  text-align: center;
}
p{
  text-align: center;
}

app-footer{
  text-align: center;
}

.box1{
  background-color: red;
  text-align: center;
}

.box2{
  background-color: darkblue;
  text-align: center;
}

.box3{
  background-color: yellow ;
  text-align: center;
}
